
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}
p{
    color: white;
}
.divisor1{
    margin: 0px;
    padding:10px;
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(45deg,#ff914d,#dd6a6d);

}
.divisor2{
    margin: 0px;
    padding:10px;
    width: 50%;
    height: 100vh;
    background-color: white;
    align-items: right;
}
img{
    margin-left:8%;
    height: 12vh;
    width: 24vh;
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: calc(1.5rem + 2vw);
    font-weight: 600;
    text-align: center;
    margin-top: 30%;
}
.etitulo{
    width: 100%;
    height: 20%;
    
}
li{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(.8rem + 1vm);
}
.contacto{
    width: auto;
    margin-left: 25%;
    margin-top: 25%;
    height: auto;

}
input[type=text]{

    display: inline-block;

}
#L1{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;

    
}
#L2{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
}
#Nombre{
    height: 30px;
    width: 200px;
    border: none;
    border-bottom:5px solid #ff914d ;
    transition: 1s;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
#Nombre:focus{
    border-bottom:5px solid #8332e4 ;
    outline: none;
}
#Nombre:hover{
    border-bottom:5px solid #8332e4 ;
    outline: none;
}
#Apellido{
    height: 30px;
    width: 200px;
    border: none;
    border-bottom: 5px solid #ff914d;
    transition: 1s;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    
}
#Apellido:focus{
    border-bottom: 5px solid #8332e4;
    outline: none;  
}
#Apellido:hover{
    border-bottom: 5px solid #8332e4;
    outline: none;
    
}
#email{
    height: 30px;
    width: 406px;
    border: none;
    border-bottom: 5px solid #ff914d;
    transition: 1s;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    
}
#email:focus{
    border-bottom: 5px solid #8332e4;
    outline: none;
    
}
#email:hover{
    border-bottom: 5px solid #8332e4;
    outline: none;
    
}

